.btnlist {
    display: flex;
    gap: 0.75rem;
}

.card:hover {
    transform: scale(1.10);
}

.btn {
    background-color: #fffdfd;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0.5rem;
}

.btn_translate {
    margin-bottom: 1rem;
    color: green;
    font-weight: bold;
}

.btn_translate:hover {
    background-color: rgb(212, 248, 212);
    border-color: rgb(212, 248, 212);
}

.btn:hover {
    transform: scale(1.25);
}

.pict {
    width: 1rem;
}

.btnsave:hover {
    background-color: rgb(212, 248, 212);
    border-color: rgb(212, 248, 212);
}

.btnedit:hover {
    background-color: rgba(248, 248, 143, 0.753);
    border-color: rgba(248, 248, 143, 0.753);
}

.btndel:hover {
    background-color: rgba(253, 120, 120, 0.562);
    border-color: rgba(253, 120, 120, 0.562);
}