.card {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card p {
    margin: 4px 0;
    color: #666;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.font_h2 {
    font-family: "Hachi Maru Pop", serif;
}

.font_p {
    font-family: "Caveat", serif;;
}

.card .font_translate {
    color: green;
    font-weight: bold;
}