.card {
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    margin: 4px 0;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}