.header {
    height: var(--header-height);
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem 20px;
}

.header-logo-container {
    background-color: white;
    border-radius: 20px;
    margin-left: 15.625rem;
}

.header-logo-pict {
    max-height: 4rem;
}

.header-head {
    flex: 1;
    text-align: center;
    margin-right: 25rem;
}