form {
    display: flex;
    gap: 1rem;
    margin: 3.5rem auto 3rem;
    max-width: 1300px;
}

input {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

input:hover {
    background-color: white;
    transform: scale(1.10);
}

input:focus {
    background-color: white;
    transform: scale(1.10)
}