.outer {
    background-color: #333;
    color: #fff;
}

.card {
    border: 1px solid #ccc;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}

.btn {
    background-color: #fffdfd;
    border: 1px solid #ccc;
}

.btnsave:hover {
    background-color: rgb(212, 248, 212);
    border-color: rgb(212, 248, 212);
}

.btnedit:hover {
    background-color: rgba(248, 248, 143, 0.753);
    border-color: rgba(248, 248, 143, 0.753);
}

.btndel:hover {
    background-color: rgba(253, 120, 120, 0.562);
    border-color: rgba(253, 120, 120, 0.562);
}